html,body{
    margin: 0;
    padding: 0;
}
[v-cloak]{
    display: none;
}
.d-flex{
    display: flex!important;
}
.mr-auto{
    margin-right: auto!important;
}
.ml-auto{
    margin-left: auto!important;
}
.align-items-center{
    align-items: center!important;
}
.flex-center{
    display: flex;
    align-items: center;
    justify-content: center;
}

.div el-upload--picture-card {
    background-color: #fbfdff;
    border: 1px dashed #c0ccda;
    border-radius: 6px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    width: 100%!important;
    height: 148px;
    line-height: 146px;
    vertical-align: top;
}


.el-upload--picture-card {
    background-color: #fbfdff;
    border: 1px dashed #c0ccda;
    border-radius: 6px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    width: 100%!important;
    height: 148px;
    line-height: 146px;
    vertical-align: top;
}
